<section class="hero" >
  <carousel>
      <slide>
        <img src="assets/img/frozen-wall.png" alt=""/>
        <div class="container">
          <img src="assets/img/Kosmos-logo.png" alt=""/>

        </div>
      </slide>
  </carousel>
</section>
