﻿@import "var";
@import "headings";
@import "input-and-buttons";
@import "single-item";
@import "nouislider.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

html {
  height: 100%;

  body {
    height: 100%;
    background: $coffee-color-100;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #000;

    div[class*='col-'] {
      padding-right: 20px;
      padding-left: 20px;

      &.no-padding {
        padding-right: 0;
        padding-left: 0;
      }
    }
    .img-link {
      display: block;
      margin-bottom: 20px;
    }
    .container {
      padding-right: 20px;
      padding-left: 20px;
    }

    .row {
      margin-left: -20px;
      margin-right: -20px;
    }

    header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .justified {
      text-align: justify;
    }

    .wrapper {
      height: auto;
      min-height: 100%;
      /*&:after {
          display: block;
          height: 98px;
          content: " ";
      }*/
      nav.navbar-default {
        background: $coffee-color-200;
        height: $header-height - 20px;
        border: none;
        margin: 20px 0 0;
        border-radius: 0;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: relative;
        z-index: 10;

        .navbar-brand {
          img {
            height: 24px;
            margin: 4px 0 0;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
        .header-search {
          position: absolute;
          top: 62px;
          right: 0;
          background: transparent;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          color: #fff;
        }
        .main-menu {
          ul {
            li {
              float: right;
              a {
                border: none;
                height: 40px;
                min-width: 40px;
                display: block;
                margin: 10px 10px 10px 0;
                padding: 4px 6px;
                border-radius: 0;
                cursor: pointer;

                &:hover {
                  background-color: $coffee-color-300;
                }
              }
            }
          }
        }

        .nav.navbar-nav {
          margin: 12px 0 11px;
          font-weight: 500;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;

          li {
            a {
              font-size: 18px;
              padding: 10px 20px;
              display: block;
            }

            &.active {
              a {
                background: none;
              }
            }
          }
        }
      }

      .navbar-collapse {
        position: absolute;
        right: 0;
        top: 100%;
        background: $coffee-color-300;
        padding: 0;
      }

      content {
        display: block;
        min-height: 100%;

        section {
          position: relative;
          z-index: 9;

          &.hero {
            overflow: hidden;
            background: #000;
            color: #fff;

            .carousel {
              .carousel-inner {
                .item {
                  height: 600px;
                  overflow: hidden;
                  > img {
                    opacity: 0.6;
                    position: absolute;
                    top: -749px;
                    right: 0;
                    bottom: -999px;
                    margin: auto;
                    min-width: 100%;
                    max-width: none;
                    min-height: 100%;
                    z-index: 1;
                    backface-visibility: hidden;
                  }

                  .container {
                    position: relative;
                    padding-top: $header-height;
                    z-index: 2;

                    img {
                      margin-top: 100px;
                      max-width: 140px;
                    }

                    h2 {
                      font-size: 80px;
                      text-transform: uppercase;
                      margin: 20px 0;
                    }

                    h3 {
                      font-size: 20px;
                      margin: 20px 0 0;
                      color: $accent-color;
                    }

                    h4 {
                      font-size: 40px;
                      margin: 0;
                    }
                  }
                }
              }

              .controls {
                margin-top: -60px;

                .carousel-indicators {
                  position: relative;
                  float: left;
                  left: 0;
                  width: auto;
                  margin: 22px 20px 0 0;
                  bottom: 0;

                  li {
                    border: none;
                    background: #fff;
                    opacity: 0.5;
                    width: 8px;
                    height: 8px;

                    &.active {
                      width: 14px;
                      height: 14px;
                      opacity: 0.7;
                      margin-bottom: -2px;
                    }
                  }
                }

                .carousel-navi {
                  float: right;
                  position: relative;

                  .carousel-control {
                    position: relative;
                    width: 60px;
                    height: 60px;
                    display: block;
                    float: left;
                    box-shadow: none;
                    background: rgba(0, 0, 0, 0.5);

                    img {
                      margin: 15px 0;
                    }

                    &:first-child {
                      margin: 0 2px 0 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .filter {
      margin: 40px 0 0;
    }

    .card {
      margin: 20px 0;
      background-color: #fff;
      -webkit-backface-visibility: hidden;

      &:not(.adv) {
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
      }

      &.adv {
        img {
          margin: 0 auto;
        }
      }

      .poster {
        position: relative;
        border-radius: 5px 5px 0 0;

        .poster-holder {
          position: relative;
          border-radius: 7px 5px 0 0;
          overflow: hidden;
          z-index: 1;

          .img-responsive {
            width: 100%;
          }
        }

        .on-poster-info {
          position: absolute;
          top: 0;
          left: 0px;
          width: 100%;
          z-index: 2;

          .top-rated {
            @extend .star-gradient;
            width: 60px;
            height: 60px;
            border-radius: 5px 0 0 0;

            img {
              margin: 10px;
            }
          }
        }
      }

      .info {
        padding: 20px;

        .caption {
          min-height: 75px;
        }

        h4, span {
          font-size: 20px;
        }

        h6 {
          font-size: 14px;
          color: $accent-color;
        }

        .nav-tabs {
          border: none;
          display: table;
          table-layout: fixed;
          width: 100%;

          &:before, &:after {
            display: none;
            content: none;
          }

          li {
            display: table-cell;
            width: auto;
            float: none;
            padding: 2px;

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }

            a {
              display: block;
              border-radius: 0;
              width: 100%;
              border: none;
              background: $coffee-color-200;
              height: 24px;
              padding: 0;
              cursor: pointer;

              &:before, &:after {
                position: absolute;
                background: #fff;
                display: block;
                content: " ";
                width: 100%;
                height: 7px;
              }

              &:before {
                top: 0;
              }

              &:after {
                bottom: 0;
              }
            }

            &.active {
              a {
                background: $accent-color;
              }
            }
          }
        }

        .cursor {
          cursor: pointer;
        }

        .popover {
          text-align: center;
          font-size: 20px;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 400;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px 0px;
          border-radius: 5px;
        }
      }
    }

    .cinema-badges {
      margin-right: -20px;

      li {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background: $accent-color;
        margin-top: -10px;

        img {
          width: 66%;
          margin: 17%;
        }

        &:first-child {
          margin-top: 40px;
        }

        &.family-badge {
          background: $family-badge-color;
        }
      }
    }

    footer {
      margin: 20px 0 0;
      padding: 30px 0;
      background: rgba(0, 0, 0, 0.05);

      a {
        img {
          height: 12px;
        }
      }

      ul {
        margin: 0;

        li {
          display: inline-block;
          padding: 0 0 0 20px;

          a {
            color: #000;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1260px) {
  html {
    body {
      .container {
        width: 1230px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  /*html{
      body{

      .wrapper{
          .card {

          &.adv {
              height: 640px;
              img{
                  margin: 20px auto;
              }
          }

          }
      }
      }
  }*/
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 767px) {
  html {
    body {
      div[class*='col-'] {
        padding-right: 10px;
        padding-left: 10px;
      }

      .container {
        padding-right: 10px;
        padding-left: 10px;
      }

      .row {
        margin-left: -10px;
        margin-right: -10px;
      }

      .wrapper {
        content {
          section {
            &.hero {
              .carousel {

                .carousel-inner {
                  .item {
                    > img {
                      left: auto;
                      right: -70%;
                    }
                    .container {
                      img {
                        margin-top: 220px;
                        max-width: 80px;
                      }

                      h2 {
                        font-size: 40px;
                      }

                      h4 {
                        font-size: 32px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  html {
    body {
      font-size: 12px;

      .wrapper {
        nav.navbar-default .navbar-brand img {
          height: 20px;
          margin: 5px 0;
        }

        content {
          section {
            &.hero {
              .carousel {
                .controls {
                  .pull-right {
                    float: none !important;
                    width: 100%;
                  }

                  .carousel-indicators {
                    width: 100%;
                    margin: -30px 0 30px;
                  }

                  .carousel-navi {

                    .carousel-control {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .card {
        .info {
          h4, h5 {
            font-size: 12px;
          }
        }
      }

      .cinema-badges {
        margin-right: -10px;

        li:first-child {
          margin-top: 10px;
        }
      }

      footer {
      }
    }
  }
}

@media only screen and (max-width: 320px) {
}

.noUi-target {
  height: 2px;
  border: none;
  background: $coffee-color-200;
  margin: 24px 0 24px 0;
  opacity: 1;

  .noUi-connect {
    background: $coffee-color-300;
    opacity: 1;
    box-shadow: none;
  }

  .noUi-handle {
    width: 40px;
    height: 40px;
    border: none;
    background-color: $coffee-color-400;
    box-shadow: none;
    border-radius: 20px;
    top: -19px;
    background-image: url(../assets/img/icons/icon-dragger.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:before, &:after {
      display: none;
    }

    .noUi-tooltip {
      bottom: 70%;
      border-radius: 15px;
      font-size: 11px;
      font-weight: 700;
      height: 25px;
      line-height: 25px;
      padding: 0 10px;
      background-color: $coffee-color-300;
      border: none;
    }

    &.noUi-handle-lower {

      .noUi-tooltip {
        left: 40px;
      }
    }

    &.noUi-handle-upper {
      .noUi-tooltip {
        left: 0;
      }
    }
  }
}

.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-nav {
  float: none !important;
}

.navbar-nav > li {
  float: none;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer !important;
}
