﻿@import "var";

html {
    body {
        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
        }
    }
}

@media only screen and (max-width : 1200px) {
}

@media only screen and (max-width : 992px) {
}

@media only screen and (max-width : 769px) {
}

@media only screen and (max-width : 480px) {
}

@media only screen and (max-width : 320px) {
}
