﻿@import "var";

html {
    body {

        .form-group {
            margin-bottom: 20px;
        }

        a {
            &:hover {
                text-decoration: none;
            }
            &.active-color{
                    color: $accent-color !important;
            }
            &:not(.btn){
                &:hover {
                    color: $accent-color !important;
                }
            }
        }

        .btn {
            border-radius: 0;
            border: none;
            padding: 11px 30px;
            font-weight: 500;

            &.btn-lg {
                font-size: 17px;
                font-weight: 500;
                padding: 9px 20px;
                text-transform: uppercase;
                font-size: 24px;
            }

            &.btn-default {
                background: $coffee-color-400;
                color: #fff;
            }

            &.btn-info {
                background: $coffee-color-300;
                color: #fff;
            }

            &.btn-gradient-stroke {
                position: relative;

                &:after {
                    content: " ";
                    position: absolute;
                    border-radius: 50px;
                    top: 2px;
                    left: 2px;
                    right: 2px;
                    bottom: 2px;
                }

                span {
                    position: relative;
                    z-index: 9;
                }
            }
        }

        label {
            color: $coffee-color-400;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 400;
        }

        input, select, textarea {
            &.form-control {
                font-size: 20px;
                font-weight: 300;

            }
        }

        select {
            &.form-control {
                height: 50px;
                padding: 0 10px;
                border-radius: 0;
                box-shadow: none;
                border: 2px solid $coffee-color-300;
                background: $coffee-color-100;
                position: relative;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ie-appearance: none;
                appearance: none;

                    background-image: url(../assets/img/icons/icon-select.svg);
                    background-position:right center ;
                    background-repeat: no-repeat;

                &:hover, &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            &:-ms-expand {
                display: none;
            }
        }

        input {
            &.form-control {
                height: 50px;
                padding: 0 10px;
                border-radius: 0;
                box-shadow: none;
                border: 2px solid $coffee-color-300;
                background: $coffee-color-100;

                &:hover, &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        textarea {
            &.form-control {
                max-width: 100%;
                outline: none;
                padding: 15px 20px;
                border-radius: 0;
                min-height: 125px;

                &:hover, &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .input-group-addon {
            border: none;
            background: transparent;
            padding: 0 0 0 20px;

            .btn {
                img {
                    position: relative;
                    top: -2px;
                }
            }
        }
    }
}
