﻿@import "var";

html {
    body {

        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
        }

        h1 {
            font-size: 46px;
        }

        h2 {
            font-size: 40px;
            margin: 92px 0 32px;

            &.small-margin{
                margin: 32px 0 32px;
            }
        }

        h3 {
            font-size: 33px;
        }
        h4 {
            font-size: 22px;
            line-height: 120%;
            font-weight: 500;
            margin: 0;
            span{
                font-size: 17px;
                display: block;
            }
        }

        .heading-group {
            text-align: center;
            h2 {
            }

            h4 {
                font-size: 15px;
                margin: 35px 0 95px;
            }

            hr {
                margin: 0 auto;
                width: 110px;
                border-top: 1px solid fade($dark-color, 10%);
                position: relative;

                &:after {
                    content: " ";
                    display: block;
                    position: absolute;
                    width: 50%;
                    height: 3px;
                    top: -2px;
                    left: 25%;
                    border-radius: 2px;
                    background-image: -moz-linear-gradient( 0deg, rgb(253,183,62) 0%, rgb(219,86,141) 50%, rgb(120,78,154) 100%);
                    background-image: -webkit-linear-gradient( 0deg, rgb(253,183,62) 0%, rgb(219,86,141) 50%, rgb(120,78,154) 100%);
                    background-image: -ms-linear-gradient( 0deg, rgb(253,183,62) 0%, rgb(219,86,141) 50%, rgb(120,78,154) 100%);
                    box-shadow: 0px 2px 25px 0px rgba(229, 98, 131, 0.5),0px 0px 13px 0px rgba(252, 178, 66, 0.3);
                }
            }

            &.invert {
                color: #fff;


                hr {
                    border-top: 1px solid fade($light-color, 10%);

                    &:after {
                        background-image: none;
                        background-color: rgb(255, 255, 255);
                        box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.5),0px 1px 18px 0px rgba(255, 255, 255, 0.25);
                    }
                }
            }
        }
    }
}
