﻿@import "var";

html {
  body {
    font-size: 20px;

    p {
      font-size: 20px;
      margin: 20px 0;

      &.description {
        font-size: 24px;
        margin: 0;
      }
    }

    .justified {
      text-align: justify;
    }

    .wrapper {
      section {
        &.single-item {
          .filter {
            margin-bottom: 40px;
          }

          h1 {
            font-size: 50px;
            font-weight: 700;
            margin: 0 0 10px;

            span {
              margin: 10px 0 0 0;
              display: block;
              font-size: 36px;
              font-weight: 300;
            }
          }

          h3 {
            font-size: 36px;
            font-weight: 700;
            color: #000;
          }

          .table {
            margin: 20px 0;
            font-size: 20px;

            caption {
              font-size: 36px;
              font-weight: 700;
              color: #000;
            }

            th, td {
              padding: 10px 0;
              border-top: 2px solid $coffee-color-200;

              &:last-child {
                font-weight: 700;
              }
            }

            tr:last-child {
              td {
                border-bottom: 2px solid $coffee-color-200;
              }
            }
          }

          .cinema-list {
            background: #fff;
            margin: 20px 0 0;
            padding: 0 20px;
            border-radius: 5px;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);

            .item {
              padding: 20px 0;

              &:not(:last-child) {
                margin-bottom: 10px;
                border-bottom: 2px solid $coffee-color-100;
              }

              h6, p, a {
                margin: 0;
                font-weight: 700;
              }

              h6 {
                font-size: 24px;
              }

              p {
                font-size: 16px;
                margin-top: 5px;
              }

              a:not(.btn) {
                font-size: 36px;
                margin: 0 10px 0 0;
                color: #000;
              }

              a {
                margin: 30px 0 0;
              }

              ul.schedule {
                li {
                  display: inline;
                }
              }
            }
          }

          .poster {
            position: relative;
            border-radius: 5px 5px;
            max-width: 400px;
            margin: 0 auto;

            .poster-holder {
              position: relative;
              border-radius: 7px 5px 5px;
              margin-bottom: 20px;
              overflow: hidden;
              z-index: 1;

              .img-responsive {
                margin-bottom: 10px;
                width: 100%;
              }
            }

            .on-poster-info {
              position: absolute;
              top: 0;
              left: 0px;
              width: 100%;
              z-index: 2;

              .top-rated {
                @extend .star-gradient;
                width: 60px;
                height: 60px;
                border-radius: 5px 0 0 0;

                img {
                  margin: 10px;
                }
              }
            }
          }

          h4, span {
            font-size: 24px;
          }

          h6 {
            font-size: 24px;
            color: $accent-color;
          }

          .tab-pane {
            font-weight: 700;

            p {
              font-size: 24px;
            }
          }

          .nav-tabs {
            border: none;
            display: table;
            table-layout: fixed;
            width: 100%;
            margin: 5px 0;

            &:before, &:after {
              display: none;
              content: none;
            }

            li {
              display: table-cell;
              width: auto;
              float: none;
              padding: 2px;

              &:first-child {
                padding-left: 0;
              }

              &:last-child {
                padding-right: 0;
              }

              a {
                display: block;
                border-radius: 0;
                width: 100%;
                border: none;
                background: $coffee-color-200;
                height: 16px;
                padding: 0;
                cursor: pointer;

                &:before, &:after {
                  position: absolute;
                  background: $coffee-color-100;
                  display: block;
                  content: " ";
                  width: 100%;
                  height: 6px;
                }

                &:before {
                  top: 0;
                }

                &:after {
                  bottom: 0;
                }
              }

              &.active {
                a {
                  background: $accent-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  html {
    body {
      section {
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  html {
    body {
      .wrapper {
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  html {
    body {
      .wrapper {
        section {
          &.single-item {
            h1 {
              font-size: 30px;
              span {
                font-size: 30px;
              }
            }
            .cinema-list {
              background: #fff;
              margin: 20px 0 0;
              padding: 0 20px;
              border-radius: 5px;
              box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);

              .item {
                padding: 20px 0;

                &:not(:last-child) {
                  margin-bottom: 10px;
                  border-bottom: 2px solid $coffee-color-100;
                }

                .pull-left, .pull-right {
                  float: none !important;
                }

                h6, p, span {
                  margin: 0;
                  font-weight: 700;
                }

                h6 {
                  font-size: 24px;
                }

                p {
                  font-size: 16px;
                  margin-top: 5px;
                }

                a.time {
                  font-size: 36px;
                  margin: 0 10px 0 0;
                }

                a:not(.time) {
                  margin: 10px 0 0;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
