﻿$coffee-color-100: #f5eeea;
$coffee-color-200: #e5e1c7;
$coffee-color-300: #d1ccab;
$coffee-color-400: #aaa585;

$accent-color: #2bb3cb;
$counter-accent-color: #ffcc00;
$family-badge-color: #89cb2b;

$header-height: 80px;
$minified-header-height: 80px;

$footer-height: 875px;

.star-gradient{
  background: -moz-linear-gradient(-45deg,  $counter-accent-color 0%, $counter-accent-color 50%, rgba(0,0,0, 0) 50.1%);
  background: -webkit-linear-gradient(-45deg,  $counter-accent-color 0%, $counter-accent-color 50%, rgba(0,0,0, 0) 50.1%);
  background: linear-gradient(135deg,  $counter-accent-color 0%, $counter-accent-color 50%, rgba(0,0,0, 0) 50.1%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#03ffcc00',GradientType=1 );
}
