<div class="wrapper">
  <header>
    <div class="container">
      <nav class="navbar navbar-default ">
        <div class="navbar-header pull-left">
          <a class="navbar-brand" href="/">
            <img src="assets/img/kino24-logo.svg"/>
          </a>
        </div>
        <div class="pull-right main-menu">
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <img src="assets/img/icons/icon-est.svg" alt=""/>
              </a>
            </li>
            <li>
              <a class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" (clickOutside)="isCollapsed = true">
                <img src="assets/img/icons/icon-burger.svg" alt=""/>
              </a>
            </li>
          </ul>
        </div>
        <div id="navbar" class="navbar-collapse pull-right" [collapse]="isCollapsed">
          <ul class="nav navbar-nav">
            <li>
              <a href="page/about">Meist</a>
            </li>
            <li>
              <a href="page/advertising">Reklaam</a>
            </li>
            <li>
              <a href="page/contact">Kontakt</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <content>
    <hero></hero>
    <router-outlet></router-outlet>
  </content>

</div>
<footer>
  <div class="container">
    <div class="pull-left">

      <a href="/">
        <img src="assets/img/kino24-logo.svg"/>
      </a>
      © 2018
    </div>
    <div class="pull-right">
      <ul class="list-unstyled">
        <li>
          <a href="page/about">Meist</a>
        </li>
        <li>
          <a href="page/advertising">Reklaam</a>
        </li>
        <li>
          <a href="page/contact">Kontakt</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>

  </div>
</footer>
