<section class="page-content single-item" *ngIf="detail.movie">
  <div class="container">
    <div class="filter">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <button class="btn btn-block btn-lg btn-default" (click)="backToMainPage()">Go back to main page</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
        <div class="poster">
          <div class="poster-holder">
            <img class="img-responsive" [src]="detail.movie.poster" />
          </div>
          <div class="on-poster-info">
            <div class="pull-left">
              <div class="top-rated">
                <img src="assets/img/icons/icon-star.svg" alt="" />
              </div>
            </div>
            <div class="pull-right">
              <ul class="cinema-badges list-unstyled">
                <li *ngIf="detail.movie.has3D">
                  <img src="assets/img/badges/icon-3d.svg" alt="3D compitable" />
                </li>
                <li *ngIf="detail.movie.restriction === 'Family'" class="family-badge">
                  <img src="assets/img/badges/icon-family.svg" alt="Family" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
        <h1>
          {{ detail.movie.title }} <span>{{ detail.movie.title_eng }}</span>
        </h1>
        <p class="description">
          Žanr: <b>{{ detail.movie.genres_est }}</b>
        </p>
        <p class="description">
          Vanusepiirang: <b>{{ detail.movie.restriction }}</b>
        </p>

        <div class="cinema-list">
          <div class="item" *ngFor="let session of detail.movie.showtimes">
            <div class="pull-left">
              <h6>
                {{ getNameCinema(session.cinema) }}
              </h6>
              <p>
                {{ session.date }}
              </p>
            </div>
            <div class="pull-right">
              <a href="#" class="btn btn-lg btn-default">Osta pilet</a>
            </div>
            <div class="clearfix"></div>
            <div>
              <ul class="list-unstyled schedule">
                <li *ngFor="let time of session.scheduleArray">
                  <a class="time">{{ time }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <table class="table">
          <caption>Filmi Info</caption>
          <tbody>
          <tr>
            <td>Kinodes alates:</td>
            <td>{{ detail.movie.release_date }}</td>
          </tr>
          <tr>
            <td>Filmi pikkus:</td>
            <td>{{ detail.movie.durationStr }}</td>
          </tr>
          <tr>
            <td>Levitaja:</td>
            <td>{{ detail.movie.distributor }}</td>
          </tr>
          </tbody>
        </table>
        <p class="justified">
          {{ detail.movie.description }}
        </p>

        <div *ngIf="detail.movie.videos && detail.movie.videos.length > 0">
          <h3>Videod</h3>
          <div class="row" *ngFor="let video of detail.movie.videos | slice:0:2">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390" [src]="video | safeResourceUrl" frameborder="0" allowFullScreen></iframe>
            </div>
          </div>
        </div>

        <div *ngIf="detail.movie.gallery && detail.movie.gallery.length > 0">
          <h3>Pildid</h3>
          <div class="row popup-gallery">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngFor="let img of detail.movie.gallery | slice:0:20" >
              <img class="img-responsive" [src]="img" />
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
