<section class="page-content">
  <div class="container">
    <div class="filter">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="form-group">
              <label for="title">pealkiri</label>
              <input class="form-control" type="text" id="title" [(ngModel)]="home.searchQuery.title" (keydown)="home.keyDownFunction($event)"/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
              <label for="cinemas">kino</label>
              <select class="form-control" id="cinemas" [(ngModel)]="home.searchQuery.cinemaId">
                <option></option>
                <option *ngFor="let cinema of home.cinemas" [value]="cinema.id">{{cinema.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
              <label for="days">kuupäev</label>
              <select class="form-control" id="days" [(ngModel)]="home.searchQuery.date">>
                <option></option>
                <option *ngFor="let date of home.dates" [value]="date">{{formatDate(date)}}</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
              <label for="restrictions">Vanusepiirang</label>
              <select class="form-control" id="restrictions" [(ngModel)]="home.searchQuery.restriction">
                <option></option>
                <option *ngFor="let restriction of home.restrictions" [value]="restriction.name">{{restriction.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="form-group">
              <label>seansi algus</label>
              <nouislider [connect]="true" [min]="1" [max]="24" [step]="1" [tooltips]="[ true, true ]"
                          [(ngModel)]="home.searchQuery.rangeSessionStart"></nouislider>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
<!--         <div *ngIf="showAdditionalParameters"
             class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding additional-parameters">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="form-group">
              <label for="genre">Žanr</label>
              <input class="form-control" type="text" value="" id="genre"/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="form-group">
              <label for="restrictions">Vanusepiirang</label>
              <select class="form-control" id="restrictions" [(ngModel)]="home.searchQuery.restriction">
                <option></option>
                <option>0+</option>
                <option>6+</option>
                <option>K-6</option>
                <option>12+</option>
                <option>K-12</option>
                <option>14+</option>
                <option>K-14</option>
                <option>16+</option>
                <option>K16</option>
                <option>18+</option>
                <option>K-18</option>
                <option>Family</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
              <label>IMDB skoor</label>
              <nouislider [connect]="true" [min]="1" [max]="10" [tooltips]="[ true, true ]"
                          [(ngModel)]="home.searchQuery.rangeIMDB"></nouislider>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="form-group">
              <label for="country">Riik</label>
              <input class="form-control" type="text" value="" id="country"/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="form-group">
              <label for="languages">Filmi keel</label>
              <select class="form-control" id="languages">
                <option>[languages]</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="form-group">
              <label for="subtitles">Subtiitrite keel</label>
              <select class="form-control" id="subtitles">
                <option>[subtitles]</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
            <div class="form-group">
              <label for="duration">Filmi kestvus</label>
              <select class="form-control" id="duration">
                <option>[duration]</option>
              </select>
            </div>
          </div>
        </div> -->
        <div class="form-group">
          <div class="input-group">
            <button class="btn btn-block btn-lg btn-default" (click)="home.getMovies()">otsi filme</button>
<!--             <span class="input-group-addon">
                  <a class="btn btn-block btn-lg btn-info"
                     (click)="showAdditionalParameters = !showAdditionalParameters">
                    <img src="assets/img/icons/icon-filter.svg" alt="">
                  </a>
            </span> -->
            <span class="input-group-addon">
              <button class="btn btn-block btn-lg btn-info" (click)="home.clearSearchParameters()">uus otsing</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let movie of home.filteredMovies"
           [ngClass]="{'col-xs-6 col-sm-6 col-md-4 col-lg-3': !movie.type,
           'col-xs-12 col-sm-12 col-md-8 col-lg-6': movie.type === 'adv' && movie.size === 2,
           'col-xs-12 col-sm-12 col-md-12 col-lg-12': movie.type === 'adv' && movie.size === 4}">
        <div class="card" *ngIf="!movie.type">
          <div class="poster">
            <div class="poster-holder">
              <a [routerLink]="['/movie', movie.id]">
                <img class="img-responsive" [src]="movie.poster"/>
              </a>
            </div>
            <div class="on-poster-info">
              <div class="pull-right">
                <ul class="cinema-badges list-unstyled">
                  <li *ngIf="movie.has3D">
                    <img src="assets/img/badges/icon-3d.svg" alt="3D"/>
                  </li>
                  <li class="family-badge" *ngIf="movie.restriction === 'Family'">
                    <img src="assets/img/badges/icon-family.svg" alt="Family"/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="caption">
              <h4>
                <a [routerLink]="['/movie', movie.id]">{{ movie.title }}</a>
              </h4>
              <h5>
                {{ movie.title_eng }}
              </h5>
            </div>
            <tabset >
              <tab *ngFor="let cinema of movie.showtimes; let i = index" [active]="isActiveCinema(cinema.cinema, i)">
                <h6>
                  {{ getNameCinema(cinema.cinema) }}
                </h6>
                <p>
                  {{ cinema.date }}
                </p>

                <span *ngFor="let time of cinema.scheduleArray | slice:0:3 ">{{ time }} </span>
                <span *ngIf="cinema.scheduleArray.length > 3"
                      class="cursor"
                      popover="{{ cinema.scheduleArray.slice(3).join(' ') }}"
                      triggers="mouseenter:mouseleave"
                      placement="bottom">...</span>
              </tab>
            </tabset>
          </div>
        </div>
        <div class="card adv" *ngIf="movie.type === 'adv'">
          <img [src]="movie.poster" class="img-responsive"/>
        </div>
      </div>
    </div>
  </div>
</section>
