<div (mouseenter)="pause()" (mouseleave)="play()" (mouseup)="play()" class="carousel slide">

  <div class="carousel-inner"><ng-content></ng-content></div>

  <div class="container controls">
    <div class="pull-right">
      <ol class="carousel-indicators" *ngIf="slides.length > 1">
        <li *ngFor="let slidez of slides; let i = index;" [class.active]="slidez.active === true" (click)="selectSlide(i)"></li>
      </ol>
      <div class="carousel-navi">
        <a class="left carousel-control" [class.disabled]="activeSlide === 0 && noWrap" (click)="previousSlide()" *ngIf="slides.length > 1">
          <img src="assets/img/icons/icon-larr.svg" alt="" />
        </a>
        <a class="right carousel-control" (click)="nextSlide()"  [class.disabled]="isLast(activeSlide) && noWrap" *ngIf="slides.length > 1">
          <img src="assets/img/icons/icon-rarr.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
